<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homePage.css">
    <title>Stayfit</title>
</head>

<body>
    <header class = "main-header">
        <div>
            <a class = "main-header-brand" href = "homePage.html"> <ion-icon name="layers-outline"></ion-icon>Stayfit </a>
        </div>
        <nav class = "main-nav">
            <ul class = "main-nav-items">
                <li class = "main-nav-item"><a href = "#">Log In</a></li>
                <li class = "main-nav-item"><a href = "#" class = "sign-up-btn">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id = "introduction-page">
            <h1>Always stay fit. <br><span>Everyday.</span></h1>
            <p>Calorie recording, track progress, <br>Check hisotry and more. Stay alive today.<br> All in one click app.</p>
            <a href = "#" class = "sign-up-btn">Sign up Now!</a>
        </section>
        <section id = "product-overview">
            <article>
                <h1>Stay Fit Everyday</h1>
                <p>Stayfit is an Web App. Use it for </p>
            </article>
        </section>
    </main>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>