<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/users.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Stayfit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>
    <div class = "container">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Personal Info<button class = "btn float-right btn-success">Edit
            </button></li>
            <li class="list-group-item">Current Weight</li>
            <li class="list-group-item">Goal Weight</li>
            <li class="list-group-item">Daily Calories</li>
          </ul>
          <ul class="list-group" id = "nutrient">
            <li class="list-group-item list-group-item-success">Nutrient Percentage<button class = "btn float-right btn-success">Edit</button></li>
            <li class="list-group-item">Carbonhydrates</li>
            <li class="list-group-item">Protein</li>
            <li class="list-group-item">Fats</li>
          </ul>
    </div>
</body>

</html>